@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body {
  line-height: 1.5;
  font-family: "Nunito", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #616666;
  font-size: 75%;
  background-color: #f4faed;
  font-size: 15px;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #505555;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 0 0 1.5em;
}
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

a {
  text-decoration: underline;
  color: #f37934;
}
a:visited {
  color: #e65c0e;
}
a:focus {
  color: #f69964;
}
a:hover {
  color: #f69964;
}
a:active {
  color: #9df664;
}

blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

strong, dfn {
  font-weight: bold;
}

em, dfn {
  font-style: italic;
}

sup, sub {
  line-height: 0;
}

abbr, acronym {
  border-bottom: 1px dotted #666666;
}

address {
  margin: 0 0 1.5em;
  font-style: italic;
}

del {
  color: #666666;
}

pre {
  margin: 1.5em 0;
  white-space: pre;
}

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

li ul, li ol {
  margin: 0;
}

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5em;
}

table {
  margin-bottom: 1.4em;
  width: 100%;
}

th {
  font-weight: bold;
}

thead th {
  background: #c3d9ff;
}

th, td, caption {
  padding: 4px 10px 4px 5px;
}

table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

tfoot {
  font-style: italic;
}

caption {
  background: #eeeeee;
}

.quiet {
  color: #949999;
}

.loud {
  color: #404343;
}

footer {
  width: 710px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  font-size: 0.8em;
  border-top: 5px solid #dae0d4;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 4em;
  padding-top: 0.5em;
}
footer a {
  background: rgba(60, 30, 10, 0.05);
  padding: 0 2px;
  color: #AA6A46;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1em;
}

code, pre.code {
  background: rgba(0, 0, 0, 0.1);
  padding: 1px 2px;
}
code em, pre.code em {
  color: #3c781e;
}

h1, h2 {
  font-size: 1.6em;
  color: #37b89a;
  line-height: 26px;
}
h1 small, h2 small {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #aaaaaa;
  margin-left: -1em;
}
h1 a, h1 a:visited, h1 a:active, h1 a:hover, h2 a, h2 a:visited, h2 a:active, h2 a:hover {
  color: #37b89a;
}

h1 {
  margin-top: 10px;
}

h2 {
  color: #40413e;
}

h3 {
  line-height: 1.3em;
  margin: 1em 0 0.5em 0;
}

strong {
  color: #4a4a4a;
}

ul, ol {
  margin: 0 0 1em 0;
}
ul.vertical, ol.vertical {
  list-style: none;
  padding: 0;
}

ol {
  padding-left: 2em;
}

li {
  margin: 0.5em 0 0.5em 0;
}

label {
  display: block;
}

small {
  color: black;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 7px;
  margin: 0 0.5em 0 0;
  font-size: 1.5em;
  line-height: 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
input[type="submit"] {
  border-color: rgba(0, 0, 0, 0.25);
  padding: 0 2em;
  cursor: pointer;
}

select {
  font-size: 1.5em;
  width: 100%;
  margin-bottom: 1px;
  vertical-align: bottom;
}

pre {
  overflow-x: auto;
}

.container {
  width: 710px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto 20px auto;
  overflow: inherit;
}

form {
  margin-bottom: 1em;
}

input[type="submit"] {
  font-size: 1em;
  line-height: 2em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#fafafa, #dddddd);
  background-image: -moz-linear-gradient(#fafafa, #dddddd);
  background-image: -o-linear-gradient(#fafafa, #dddddd);
  background-image: linear-gradient(#fafafa, #dddddd);
  color: #555;
}
input[type="submit"]:hover {
  background: #ddd;
}
input[type="submit"]:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #999;
}

input.negative, .button.negative {
  border: none;
  margin-right: 0;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.2);
}
input.negative:hover, .button.negative:hover {
  color: #fcf5f6;
  background: #a31f2b;
}

a.button {
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #dbe8cc;
  color: rgba(0, 0, 0, 0.5);
  padding: 2px 1em;
  vertical-align: middle;
  margin-right: 0.5em;
  font-size: 12px;
}
a.button:hover, a.button.active {
  background: #a9c787;
}
a.button.symbol {
  color: rgba(0, 0, 0, 0.4);
  padding: 0;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  text-align: center;
  margin-right: 0.5em;
  vertical-align: bottom;
  font-size: 14px;
}
a.button.external {
  background: #eee;
  color: #999;
}
a.button.disabled {
  background: #ddd;
  color: #999;
}
a.button.disabled:hover {
  background: #ddd;
}

section {
  margin-bottom: 3em;
}

dd {
  margin-left: 0;
}

.flash-messages {
  width: 710px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  overflow: inherit;
  margin: 1em auto 2em auto;
}
.flash-messages ul {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #dbe8cc;
  padding: 0.5em 2em;
  list-style: none;
}

.highlight {
  background: #fce09b;
  padding: 0px 2px;
}

.status {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #999;
  color: white;
  padding: 0px 4px;
  display: inline-block;
  min-width: 80px;
  text-align: center;
}
.status.disabled {
  background: #ed4f38;
}
.status.enabled {
  background: #37b89a;
}
.status.hidden {
  display: none;
}
.status a {
  color: white;
}

.user-list li {
  margin-bottom: 2em;
}
.user-list li:hover .hidden {
  display: inline-block;
}

nav.header {
  padding: 1em 0;
  margin-bottom: 1em;
}
nav.header ul {
  margin: 0;
  padding: 0;
  width: 710px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
nav.header li {
  margin: 0 0.5em 0 0.5em;
  padding: 0.5em 1em;
  display: inline-block;
  list-style: none;
}
nav.header li.logo {
  padding: 0;
  margin-left: 0;
  margin-right: 1.5em;
}
nav.header .menu {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
nav.header .menu.active, nav.header .menu:hover {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  background: white;
}
nav.header a, nav.header a:visited {
  color: #37b89a;
}
nav.header h1 {
  font-size: 1.8em;
  line-height: 1.5em;
}

.intro h1 {
  line-height: 1.25em;
  margin: 1.5em 0;
  letter-spacing: 0.05em;
  font-size: 2em;
  text-align: center;
}
.intro h1 a {
  color: inherit;
  background: #cdeee6;
  padding: 0 0.2em;
  margin-right: -0.2em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.intro .cta {
  font-size: 1.5em;
  padding: 5px 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
.intro .signup {
  display: table;
  margin: 3em auto;
}
.intro .signup .cta {
  width: 340px;
  display: table-cell;
  margin: 0 20px;
}
.intro .closer {
  text-align: center;
  margin-top: 2em;
}
.intro .details {
  display: table-cell;
  font-size: 0.8em;
  list-style: none;
  margin: 0;
}
.intro .features {
  margin: 2em 0;
  padding: 0;
  display: table;
  text-align: center;
}
.intro .features li {
  display: table-cell;
  width: 33%;
}
.intro .features img {
  width: 200px;
  height: 100px;
  border: 2px solid #dbe8cc;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.intro .features strong {
  display: block;
  margin-bottom: 0.2em;
  font-size: 0.8em;
  line-height: 2em;
}
.intro .features strong:before {
  content: "✓";
  margin-right: 0.5em;
  color: #f37934;
}
.intro .features p {
  font-size: 0.8em;
  padding: 0 0.5em;
}

a.cta {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8a915), color-stop(100%, #ea9613));
  background-image: -webkit-linear-gradient(#f8a915, #ea9613);
  background-image: -moz-linear-gradient(#f8a915, #ea9613);
  background-image: -o-linear-gradient(#f8a915, #ea9613);
  background-image: linear-gradient(#f8a915, #ea9613);
  border: 1px solid #d28811;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  padding: 3px 2em;
  cursor: pointer;
}
a.cta:hover {
  background: #f8a915;
}
a.cta small {
  display: block;
  color: #fee8c0;
  font-size: 0.8em;
}

.preview, .screenshot {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #dbe8cc;
  background: #fff;
  padding: 20px 20px 20px 20px;
  margin-bottom: 2em;
}

.screenshot {
  text-align: center;
  padding: 20px 10px 10px 10px;
}
.screenshot h3 {
  color: #bbb;
  line-height: 2em;
}

.payment {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #dbe8cc;
  background: #fff;
  padding: 1em 2em 1em 2em;
  display: inline-block;
}
.payment > div {
  overflow: hidden;
  margin-bottom: 1em;
  margin-left: 0.5em;
}
.payment label {
  padding-left: 1px;
  float: left;
}
.payment input[type="text"] {
  display: inline-block;
}
.payment input[type="submit"] {
  margin-top: 22px;
  line-height: 33px;
  width: 180px;
}
.payment .card-expiry-month {
  margin-right: 0;
}
.payment .card-expiry-sep {
  padding: 0 0.2em;
  vertical-align: middle;
  font-size: 1.5em;
}
.payment .card-date {
  text-align: center;
}

.report nav {
  width: 100%;
  display: table;
  margin-bottom: 0.5em;
}
.report nav h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
.report nav .controls {
  display: table-cell;
  text-align: right;
  font-size: 0.8em;
  vertical-align: top;
  white-space: nowrap;
}
.report nav .controls input {
  border: none;
}
.report .details {
  width: 100%;
  display: table;
  margin-bottom: 0;
}
.report .details tr {
  display: table-row;
}
.report .details td {
  padding-right: 0;
  margin-right: 1em;
  display: table-cell;
}
.report .details .recipients {
  margin-left: 2em;
}

form#create-report p .chosen-container:first {
  margin-right: 5px;
}

form.add-recipient {
  margin-top: 1em;
  padding-left: 2em;
}
form.add-recipient input[name="display_name"] {
  width: 8em;
}
form.add-recipient input[name="email"] {
  width: 14em;
}
form.add-recipient input {
  line-height: 1.8em;
  font-size: 1em;
  line-height: default;
}

.articles {
  margin: 4em 0;
}
.articles h3 {
  font-size: 1.4em;
}

.pricing {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.pricing .pricing-plan {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  vertical-align: top;
  border: 2px solid #dbe8cc;
  background: #fff;
  padding: 0 1em;
  display: inline-block;
  text-align: left;
  width: 180px;
  margin: 0 5px;
}
.pricing .pricing-plan h3 {
  text-align: center;
  margin: 0.5em;
  line-height: 2em;
}
.pricing .pricing-plan .value {
  font-weight: bold;
}
.pricing .pricing-plan ul {
  padding: 0;
  list-style: none;
}
.pricing .pricing-plan .price {
  margin-top: 2em;
  text-align: center;
}
.pricing .pricing-plan .price .value {
  font-weight: bold;
  background: #fce09b;
  color: #432;
  padding: 2px 4px;
}
.pricing .pricing-plan .action span {
  display: block;
  background: #eee;
  color: #aaa;
  text-align: center;
  line-height: 2em;
}
.pricing .pricing-plan input[type="submit"] {
  width: 100%;
}

#credit-card .pricing-plan-group {
  border-left: 0.5em #dbe8cc solid;
  padding: 0.5em 1em;
  line-height: 1.25em;
  margin-bottom: 2em;
}
#credit-card .pricing-plan-group ul {
  margin: 0;
}
