html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body {
  line-height: 1.5;
  font-family: "Nunito", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #616666;
  font-size: 75%;
  background-color: #f4faed;
  font-size: 15px;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #505555;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 0 0 1.5em;
}
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

a {
  text-decoration: underline;
  color: #f37934;
}
a:visited {
  color: #e65c0e;
}
a:focus {
  color: #f69964;
}
a:hover {
  color: #f69964;
}
a:active {
  color: #9df664;
}

blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

strong, dfn {
  font-weight: bold;
}

em, dfn {
  font-style: italic;
}

sup, sub {
  line-height: 0;
}

abbr, acronym {
  border-bottom: 1px dotted #666666;
}

address {
  margin: 0 0 1.5em;
  font-style: italic;
}

del {
  color: #666666;
}

pre {
  margin: 1.5em 0;
  white-space: pre;
}

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

li ul, li ol {
  margin: 0;
}

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5em;
}

table {
  margin-bottom: 1.4em;
  width: 100%;
}

th {
  font-weight: bold;
}

thead th {
  background: #c3d9ff;
}

th, td, caption {
  padding: 4px 10px 4px 5px;
}

table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

tfoot {
  font-style: italic;
}

caption {
  background: #eeeeee;
}

.quiet {
  color: #949999;
}

.loud {
  color: #404343;
}

footer {
  width: 630px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  font-size: 0.8em;
  border-top: 5px solid #dae0d4;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 3em;
  padding-top: 0.5em;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1em;
}

h1, h2 {
  font-size: 1.6em;
  color: #37b89a;
  line-height: 26px;
}
h1 small, h2 small {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #aaaaaa;
  margin-left: -1em;
}
h1 a, h1 a:visited, h1 a:active, h1 a:hover, h2 a, h2 a:visited, h2 a:active, h2 a:hover {
  color: #37b89a;
}

h1 {
  margin-top: 10px;
}

h2 {
  color: #40413e;
}

strong {
  color: #4a4a4a;
}

ul, ol {
  margin: 0 0 1em 0;
}
ul.vertical, ol.vertical {
  list-style: none;
  padding: 0;
}

ol {
  padding-left: 2em;
}

li {
  margin: 0.5em 0 0.5em 0;
}

label {
  display: block;
}

small {
  color: black;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 7px;
  margin: 0 0.5em 0 0;
  font-size: 2em;
  line-height: 1.5em;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
input[type="submit"] {
  border-color: rgba(0, 0, 0, 0.25);
  font-size: 1em;
  padding: 0 2em;
  line-height: 3em;
  cursor: pointer;
}

select {
  font-size: 2em;
}

.container {
  width: 630px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto 20px auto;
}

input[type="submit"] {
  font-size: 1.5em;
  line-height: 2em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#fafafa, #dddddd);
  background-image: -moz-linear-gradient(#fafafa, #dddddd);
  background-image: -o-linear-gradient(#fafafa, #dddddd);
  background-image: linear-gradient(#fafafa, #dddddd);
  color: #555;
}
input[type="submit"]:hover {
  background: #ddd;
}

section {
  margin-bottom: 2em;
}

.flash-messages {
  width: 630px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

.highlight {
  background: #fce09b;
  padding: 0px 2px;
}

.status {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #999;
  color: white;
  padding: 0px 4px;
  display: inline-block;
  min-width: 70px;
  text-align: center;
}
.status.disabled {
  background: #ed4f38;
}
.status.enabled {
  background: #37b89a;
}
.status.hidden {
  display: none;
}
.status a {
  color: white;
}

.user-list li {
  margin-bottom: 2em;
}
.user-list li:hover .hidden {
  display: inline-block;
}

nav {
  padding: 1em 0;
  margin-bottom: 1em;
}
nav ul {
  margin: 0;
  padding: 0;
  width: 630px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
nav li {
  margin: 0 0.5em 0 0.5em;
  padding: 0.5em 1em;
  display: inline-block;
  list-style: none;
}
nav li.logo {
  padding: 0;
  margin-left: 0;
  margin-right: 1.5em;
}
nav .menu {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
nav .menu.active, nav .menu:hover {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  background: white;
}
nav a, nav a:visited {
  color: #37b89a;
}
nav h1 {
  font-size: 1.8em;
  line-height: 1.5em;
}

.intro h1 {
  font-size: 4em;
  line-height: 1em;
  margin-top: 0.5em;
}
.intro .signup {
  display: table;
  margin: 3em 0;
}
.intro .signup .cta {
  width: 60%;
  display: table-cell;
  margin: 0 20px;
}
.intro .closer {
  text-align: center;
  margin-top: 2em;
}
.intro .cta {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8a915), color-stop(100%, #ea9613));
  background-image: -webkit-linear-gradient(#f8a915, #ea9613);
  background-image: -moz-linear-gradient(#f8a915, #ea9613);
  background-image: -o-linear-gradient(#f8a915, #ea9613);
  background-image: linear-gradient(#f8a915, #ea9613);
  border: 1px solid #d28811;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  padding: 5px 20px;
  font-size: 1.5em;
  cursor: pointer;
}
.intro .cta:hover {
  background: #f8a915;
}
.intro .cta small {
  display: block;
  color: #fee8c0;
  font-size: 0.8em;
}
.intro .details {
  display: table-cell;
  font-size: 0.8em;
  list-style: none;
  margin: 0;
}

.screenshot {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid #dbe8cc;
  padding: 20px 10px 10px 10px;
  background: #fff;
  text-align: center;
}
.screenshot h3 {
  color: #bbb;
  line-height: 2em;
}

.payment {
  margin-bottom: 2em;
}
.payment > div {
  overflow: hidden;
  margin-bottom: 0.5em;
}
.payment label {
  float: left;
}
.payment input[type="text"] {
  display: inline-block;
}
.payment input[type="submit"] {
  margin-top: 22px;
  width: 195px;
}
.payment .card-expiry-month {
  margin-right: 0;
}
.payment .card-expiry-sep {
  padding: 0 0.4em;
  vertical-align: middle;
  font-size: 2em;
}
.payment .card-date {
  text-align: center;
}
