PyJWT==1.4.0
Mako==1.0.4
SQLAlchemy==1.0.12
WebTest==2.0.21
alembic==0.8.5
billiard==3.3.0.23 # Required by celery
kombu==3.0.35 # Required by celery
celery[sqlalchemy]==3.1.23
dogpile.cache==0.5.7
mock==1.3.0
oauthlib<0.7 # Breaks scope change
pillow==3.1.1
pyramid==1.6.1
pyramid_beaker==0.8
pyramid_debugtoolbar==2.4.2
pyramid_exclog==0.7
pyramid_handlers==0.5
pyramid_mailer==0.14.1
pyramid_mako==1.0.2
python-dateutil==2.5.0
pytz==2015.7
pyyaml==3.11
requests-hawk==1.0.0
requests-oauthlib==0.6.1
requests==2.9.1
stripe==1.30.0
unstdlib==1.7
premailer==2.9.7 # Needs lxml which requires CFLAGS/etc set
pyplaintext==0.1.1

setuptools==20.6.7

# Dev
IPython==4.1.2
pyramid_ipython==0.1
coverage==4.0.3
nose==1.3.7
piprot==0.9.6

# Redis?
#beakeredis==0.0.3
