{{define "content"}}
    <h1>{{ .Title }}</h1>

    {{with $row := index .summaryData.Rows 0}}
    {{index $row 1 | comma}} people spent a whopping total of {{index $row 2 | timeago}} on your sweet site.
    {{end}}

    <span class="todo">TODO: Compare to last month. Show chart.</span>

    <h2>
        <a href="{{ permalink `content-pages` .Profile .AnalyticsApi }}">Pages</a>
    </h2>

    <ul>
        {{range $row := .pageData.Rows}}
        <li>{{index $row 1}} &mdash; {{index $row 0}}</li>
        {{end}}
    </ul>

    <span class="todo">TODO: Linkify.</span>

    <h2>
        <a href="{{ permalink `trafficsources-referrals` .Profile .AnalyticsApi }}">Referrers</a>
    </h2>

    <ul>
        {{range $row := .referrerData.Rows}}
        <li>{{index $row 1}} &mdash; {{index $row 0}}</li>
        {{end}}
    </ul>

    <span class="todo">TODO: Remove anything with {facebook,google,twitter}. Add a Search section.</span>

    <h2>
        <a href="{{ permalink `social-sources` .Profile .AnalyticsApi }}">Social</a>
    </h2>

    <ul>
        {{range $row := .socialData.Rows}}
        <li>{{index $row 1}} &mdash; {{index $row 0}}</li>
        {{end}}
    </ul>

    <span class="todo">TODO: Lots of styling.</span>

    <p>
        Looking for something different?
        <a href="http://www.briefmetrics.com/account/settings">Change subscription</a> &middot;
        <a href="http://www.briefmetrics.com/account/disconnect?token={{ .Token }}">Delete account</a>
    </p>
{{end}}
