@import "_base";

@mixin boxed() {
    border-radius: 10px;
    border: 2px solid $color-border;
    background: #fff;
}

form {
    margin-bottom: 1em;
}

input[type="submit"] {
    font-size: 1em;
    line-height: 2em;

    @include linear-gradient(#fafafa, #ddd);

    color: #555;

    &:hover {
        background: #ddd;
    }

    &:disabled {
        background: #ccc;
        border-color: #ccc;
        color: #999;
    }
}

input.negative, .button.negative {
    border: none;
    color: rgba(0, 0, 0, 0.5);
    background: rgba(50, 50, 50, 0.15);

    &:hover {
        color: #fff;
        background: lighten(#a31f2b, 20);
    }
}

small {
    color: lighten($color-text, 20);
}


iframe {
    margin: auto 1em auto 2em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

a.button {
    display: inline-block;
    border-radius: 3px;
    background: darken($color-border, 10%);
    color: rgba(0, 0, 0, 0.5);
    padding: 2px 1em;
    vertical-align: middle;
    margin-right: 0.5em;
    font-size: 12px;

    &:hover, &.active {
        background: darken($color-border, 20%);
    }

    &.symbol {
        color: rgba(0, 0, 0, 0.4);
        padding: 0;
        height: 1.5em;
        width: 1.5em;
        line-height: 1.5em;
        text-align: center;
        margin-right: 0.5em;
        vertical-align: top;
        font-size: 14px;
    }

    &.external {
        background: #eee;
        color: #999;
    }

    &.disabled {
        &:hover {
            background: #ddd;
        }

        background: #ddd;
        color: #999;
    }
}

.button-note, .note {
    font-size: 0.8em;
    color: lighten($color-text, 20);
}

section {
    margin-bottom: 3em;
}

dd {
    margin-left: 0;
}


blockquote {
    font-size: 1.3em;
    font-style: normal;
    color: desaturate($color-header, 60%);

    em {
        font-style: normal;
        color: darken(desaturate($color-header, 30%), 10%);
        background: desaturate(lighten($color-header, 40%), 5%);
    }

    cite {
        font-size: 0.7em;
        font-style: normal;
        color: darken($color-text, 5%);
        font-weight: bold;
        &:before {
            content: "• ";
        }
    }
}

.flash-messages {
    @include row();
    overflow: inherit;
    margin: 1em auto 2em auto;

    ul {
        border-radius: 10px;
        background: $color-border;
        padding: 0.5em 2em;
        list-style: none;
        @include transition(background-color 500ms, opacity 500ms);
    }
    ul.ping {
        opacity: 0.7;
        background: #eaf186;
    }
}

.highlight {
    background: #fce09b;
    padding: 0px 2px;
}

// Admin stuff:
.status {
    border-radius: 3px;
    background: #999;
    color: white;
    padding: 0px 4px;
    display: inline-block;
    min-width: span(2);
    text-align: center;

    &.disabled {
        background: #ed4f38;
    }

    &.enabled {
        background: #37b89a;
    }
    &.hidden {
        visibility: hidden;
    }

    a {
        color: white;
    }
}


.user {
    h4 {
        display: inline-block;
    }
}
.user-list {
    &>li {
        margin-bottom: 2em;
    }
}
.user-status {
    float: right;
    margin-left: 0.5em;
    font-size: 0.8em;
    white-space: nowrap;
    &:hover .hidden {
        visibility: visible;
    }
}

//


nav.header {
    line-height: 4em;
    text-align: center;
    padding: 0 1em;

    .container {
        margin-bottom: 0;
    }

    @include media($mobile) {
        margin: 0;
        font-size: 0.8em;
        text-align: left;
        line-height: 1.25em;

        .logo {
            text-align: center;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        @include row();

        @include media($mobile) {
            width: 100%;
            margin-bottom: 1em;
        }
    }

    .public-links {
        float: left;
    }
    .auth-links {
        float: right;
    }

    li {
        margin: 0 0.5em 0 0.5em;
        padding: 0.5em 1em;
        display: inline-block;
        list-style: none;

        @include media($mobile) {
            display: block;
        }

    }
    .logo {
        margin: 0;

        img {
            width: 28px;
            height: 28px;
        }
    }
    .menu a {
        padding: 0.2em;
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    .menu.active a, .menu:hover a {
        border-bottom: 2px lighten($color-header, 30%) solid;
    }

    a, a:visited {
        color: $color-header;
    }
}

.intro, .feature {
    .signup {
        padding: 0 2em;
        margin: 3em auto;
        overflow: hidden;

        .cta {
            float: left;
            margin-right: 1em;
            width: 60%;
            padding: 0.5em;
        }
        a.cta {
            @include linear-gradient(#f8c915, #ea9613);

            &:hover {
                @include linear-gradient(lighten(#f8c915, 10%), #ea9613);
            }
        }

        .details {
            padding: 0;
            float: left;

            a {
                color: #fff;
                text-decoration: underline;
            }
        }

        @include media($mobile) {
            padding: 0 0.5em;
            .cta {
                width: 100%;
            }
            .details {
                width: 100%;
                text-align: center;
            }
        }
    }

    .cta {
        font-size: 1.5em;
        padding: 5px 20px;
        border-radius: 7px;
    }
}

.closer {
    text-align: center;
    margin: 3em;

    @include media($mobile) {
        margin: 3em 1em;
    }
}

.cta.signup {
    font-size: 1.5em;
    padding: 5px 20px;
    border-radius: 7px;
}

.inner {
    max-width: 710px;
    margin: 0 auto $margin auto;
}

.intro {
    margin-top: -1px;
    background: url(/static/images/background.jpg) no-repeat;
    background-size: contain;
    overflow: hidden;
    padding: 0 4em;

    @include media($mobile) {
        padding: 0 1em;
        font-size: 0.6em;

        background-size: 350%;
        background-position: top center;
    }

    h1 {
        display: block;
        margin: 1.5em auto;

        color: #fff;
        line-height: 1.25em;
        letter-spacing: 0.05em;
        font-size: 2.5em;
        text-align: center;

        a {
            color: inherit;
            background: rgba(255, 255, 255, 0.2);
            padding: 0 0.2em;
            margin-right: -0.2em;
            border-radius: 3px;
        }
    }

    h3, h4 {
        font-size: 1.8em;
        margin-top: 2em;
        text-align: center;
    }

    .details {
        font-size: 0.8em;
        list-style: none;
        color: rgba(255, 255, 255, 0.9);
    }

    .features {
        margin: 2em 0;
        padding: 0;
        display: table;
        text-align: center;

        li {
            display: table-cell;
            width: 33%;

        }

        img {
            width: 200px;
            height: 100px;
            border: 2px solid $color-border;
            overflow: hidden;
            border-radius: 5px;
        }
        a img {
            border-color: darken($color-border, 20%);
        }

        strong {
            display: block;
            margin-bottom: 0.2em;
            font-size: 0.8em;
            line-height: 2em;

            &:before {
                content: "✓";
                margin-right: 0.5em;
                color: $color-link;
            }
        }

        p {
            font-size: 0.8em;
            padding: 0 0.5em;
        }
    }
}

.feature {
    h3 {
        margin-top: 1.5em;
    }
    .testimonials {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 4em;
    }
}

.testimonials {
    h4 {
        margin-bottom: 0.5em;
        margin-top: 2em;
        text-align: center;
    }
    blockquote {
        margin: 0;
    }
    img {
        margin: 0 auto;
        height: 45px;
    }
}

ul.questions {
    overflow: hidden;
    list-style: none;
    font-size: 0.9em;
    padding: 0;

    li {
        width: 45%;
        float: left;
        margin-right: 1em;

        @include media($mobile) {
            width: 100%;
            margin: 0;
        }
    }

    h3 {
        font-size: 1em;
        font-weight: bold;
    }
}

a.cta, input.cta {
    border-radius: 3px;
    @include linear-gradient(#f8c915, #ea9613);
    border: 1px solid #d28811;
    display: inline-block;

    vertical-align: middle;
    text-align: center;
    color: #fff;
    padding: 3px 2em;
    cursor: pointer;

    &:hover {
        background: #f8a915;
    }

    small {
        display: block;
        color: #fee8c0;
        font-size: 0.8em;
    }
}

.preview, .screenshot {
    @include boxed;
    padding: 20px 20px 20px 20px;
    margin: 0 auto 2em auto;
    max-width: 720px;

}

.screenshot {
    text-align: center;
    padding: 20px 10px 10px 10px;

    h3 {
        margin-top: 1em;
        color: #bbb;
        line-height: 2em;
    }
}

.payment {
    @include boxed;
    padding: 1em 2em 1em 2em;
    display: inline-block;

    &>div {
        overflow: hidden;
        margin-bottom: 1em;
        margin-left: 0.5em;
    }

    label {
        padding-left: 1px; // FIXME: ...?
        float: left;
    }
    input {
        padding: 0 0.5em;
        min-width: 3em;
    }
    input[type="text"] {
        display: inline-block;
        font-size: 23px;
    }
    input[type="submit"] {
        margin-top: 22px;
        line-height: 33px;
        width: 12.5em;
        font-weight: bold;
    }
    .card-expiry-month {
        margin-right: 0;
    }
    .card-expiry-sep {
        padding: 0 0.2em;
        vertical-align: middle;
        font-size: 1.5em;
    }
    .card-date {
        text-align: center;
    }

    @include media($mobile) {
        width: 100%;
        border-radius: 0;
        border-width: 2px 0 2px 0;

        input {
            display: block;
        }
        label {
            float: none;
        }
        .card-expiry-sep {
            display: none;
        }
    }
}

.inline-error {
    color: #a31f2b;
}

.report {
    nav {
        width: 100%;
        display: table;
        margin-bottom: 0.5em;

        h3 {
            margin-top: 0;
            margin-bottom: 0.5em;
        }

        .controls {
            display: table-cell;
            text-align: right;
            font-size: 0.8em;
            vertical-align: top;
            white-space: nowrap;

            input {
                border: none;
            }
        }
    }
    .details {
        width: 100%;
        display: table;
        margin-bottom: 0;

        tr {
            display: table-row;
        }

        td {
            padding-right: 0;
            margin-right: 1em;
            display: table-cell;
        }

        .recipients {
            margin-left: 2em;
        }
    }

}

.combine-summary {
    border-radius: 3px;
    line-height: 1em;
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5em 0.25em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;

    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }

    .button.symbol {
        border-radius: 2px;
        margin: 0em 0.25em 0em 0.1em;
        padding: 0 0.3em;
        background: rgba(255, 255, 255, 0.7);
    }
}

form#create-report {
    p .chosen-container:first {
        margin-right: 5px;
    }
}

form.add-recipient {
    margin-top: 1em;
    padding-left: 2em;

    input[name="display_name"] {
        width: 8em;
    }

    input[name="email"] {
        width: 14em;
    }

    input {
        line-height: 1.8em;
        font-size: 1em;
        line-height: default;
    }
}

.delete-confirm {
    .negative {
        margin: 0;
        vertical-align: bottom;
    }
}

.articles {
    margin: 4em 0;

    h3 {
        font-size: 1.4em;
    }

    a {
    }
}

.pricing {
    .toggle {
        text-align: center;
        line-height: 2em;
        select {
            width: auto;
        }
    }

    .plans {
        display: table;
        margin: 2em auto;
        text-align: center;
    }

    .plan {
        display: table-cell;
        vertical-align: top;
        padding: 0 0.5em;

        @include media($mobile) {
            display: block;
        }
    }
}


.pricing-plan {
    padding: 0 1em;
    border: 2px solid $color-border;
    border-radius: 5px;
    background: #fff;
    text-align: left;

    h3 {
        font-size: 1.5em;
        text-align: center;
        margin: 0.5em;
    }

    .value {
        font-weight: bold;
    }

    ul {
        padding: 0;
        list-style: none;
    }

    .price {
        margin-top: 2em;
        text-align: center;

        .value {
            font-weight: bold;
            background: #fce09b;
            color: #432;
            padding: 2px 4px;
        }
    }

    .action span {
        display: block;
        background: #eee;
        color: #aaa;
        text-align: center;
        line-height: 2em;
    }
    input[type="submit"] {
        width: 100%;
    }

}

#credit-card {
    .pricing-plan-group {
        border-left: 0.5em $color-border solid;
        padding: 0.5em 1em;
        line-height: 1.25em;
        margin-bottom: 2em;

        ul {
            margin: 0;
        }
    }

    .pricing-plan {
        margin-bottom: 2em;

        h3 {
            font-size: 1.3em;
        }
    }
}

#update-payment {
    display: none;

    &:target {
        display: block;
    }
}

#branding {
    input[type="text"], input[type="email"], textarea {
        font-size: 14px;
        padding: 0.2em 0.5em;
        line-height: 1.5em;
        width: 28em;
        margin-bottom: 1em;
    }

    label {
        margin-bottom: 1em;
    }

    textarea {
        width: 560px;
    }
    blockquote {
        width: 560px;
        padding: 1em 0.3em;
        text-align: center;
        background: #fff;
        border: $color-border 2px solid;
        margin: 0;
    }
}

iframe.video {
    width: 640px;
    height: 440px;

    @include media($mobile) {
        padding: 0;
        margin: 2em 0;
        width: 340px;
        height: 220px;
    }

}

footer {
    @include row();
    $_background: desaturate(darken($color-background, 75%), 60%);
    background: $_background;
    @include linear-gradient(darken($_background, 5%), $_background);
    border-top: 5px solid darken($_background, 10%);

    color: lighten($color-text, 20%);
    padding-top: 1em;

    a {
        color: darken($color-header, 5%);

        &:hover {
            color: lighten($color-header, 25%);
        }
    }

    .slogan {
        border-radius: 3px;
        width: 100%;
        line-height: 1.8em;
        text-align: center;
        color: lighten($color-text, 25%);
    }

    a.cta {
        margin-top: 1em;
        background: lighten($_background, 5%);
        border-color: lighten($_background, 50%);

        &:hover {
            color: #fff;
            background: lighten($_background, 20%);
        }
    }

    .menu {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    ul {
        display: table-cell;
        width: 100%;
        list-style: none;
        padding: 0 1em;
        vertical-align: top;

        @include media($mobile) {
            display: block;
        }
    }
}
