{{define "content"}}
<p>
    Google Analytics returned no results for your site.
</p>

<p>
    Do you see any data in <a href="{{ permalink `report/content-pages` .Profile nil }}">your Google Analytics report here</a>?
</p>

<ol>
    <li>
        If you do, then that means Briefmetrics is broken somehow. Please reply to this email for further support. :)
    </li>
    <li>
    If all the charts are flat, then it could mean one of two things:
        <ul>
            <li>
                Your website is not wired up with Google Analytics correctly. You can check <a href="{{ permalink `management/Settings` .Profile nil }}/%3Fm.page%3DTrackingCode/">your Tracking Code status and instructions here</a>.
            </li>
            <li>
                No one has visited your website this week. :( If you reply to this email, I'd love to check it out!
            </li>
        </ul>
    </li>
</ol>

<p>
    If you have other sites you wanted to try Briefmetrics on, you can
    <a href="http://www.briefmetrics.com/settings">change your subscription</a>.
    Or if this isn't looking like the right tool for you, 
    no hard feelings if you <a href="http://www.briefmetrics.com/account/disconnect?token={{ .Token }}">delete your account</a>.
</p>

<p>
    Sincerely,<br />Andrey and his army of code collectively known as
    Briefmetrics
</p>
{{end}}
