{{define "content"}}
<p>
    Briefmetrics failed to generate your report today because there is a problem with your account.
</p>

<p>
    We can fix this by having you sign in with your Google account again here:
    <br /><a href="http://www.briefmetrics.com/account/login">http://www.briefmetrics.com/account/login</a>
</p>

<p>
    Hopefully this is a one-time thing. Sorry for the inconvenience! :(
</p>

<p>
    Sincerely,<br />Andrey and his army of code collectively known as
    Briefmetrics
</p>
{{end}}
