{{define "content"}}
    <p>
        Your site had <span class="chartTop">{{ .TotalCurrent | itoa }} views so far this month,</span>
        {{ if ge .TotalCurrent .TotalLastRelative }}
        compared to last month's {{ .TotalLastRelative | itoa }} views at this time.
        You're on your way to beat <span class="chartBottom">last months's total of {{ .TotalLast | itoa }}</span>.
        {{ else }}
        compared to <span class="chartBottom">last month's {{ .TotalLastRelative | itoa }} views</span> at this time.
        {{ end }}
    </p>

    {{ if .SummaryChartUrl }}
    <img src="{{ .SummaryChartUrl }}" />
    {{ end }}

    {{$startDate := .StartDate}}
    {{range $row := .summaryData.Rows}}
    <h2>Last week</h2>
    <p style="margin-bottom: 2em;">
        {{index $row 1 | comma | highlight}} unique people spent a combined {{index $row 2 | timeago | highlight}} in 7 days since {{ $startDate }}.
    </p>
    {{end}}

    {{ if .pageData.Rows }}
    <table>
        <thead>
            <tr>
                <td>
                    Views
                </td>
                <td>
                    <a href="{{ permalink `report/content-pages` .Profile .AnalyticsApi }}">Pages</a>
                </td>
            </tr>
        </thead>
        <tbody>
            {{$baseUrl := .Profile.WebsiteUrl}}
            {{range $row := .pageData.Rows}}
            <tr>
                <td class="number">{{index $row 1}}</td>
                <td><a href="{{$baseUrl}}{{index $row 0}}">{{index $row 0}}</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{ else }}
    <h3>
        <a href="{{ permalink `report/content-pages` .Profile .AnalyticsApi }}">No Page Visits</a>
    </h3>
    {{ end }}

    {{ if .referrerData.Rows }}
    <table>
        <thead>
            <tr>
                <td>
                    Views
                </td>
                <td>
                    <a href="{{ permalink `report/trafficsources-referrals` .Profile .AnalyticsApi }}">Referrers</a>
                </td>
            </tr>
        </thead>
        <tbody>
            {{range $row := .referrerData.Rows}}
            <tr>
                <td class="number">{{index $row 1}}</td>
                <td>{{index $row 0 | linkify}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{ else }}
    <h3>
        <a href="{{ permalink `report/trafficsources-referrals` .Profile .AnalyticsApi }}">No Referrers</a>
    </h3>
    {{ end }}

    {{ if .socialData.Rows }}
    <table>
        <thead>
            <tr>
                <td>
                    Views
                </td>
                <td>
                    <a href="{{ permalink `report/social-sources` .Profile .AnalyticsApi }}">Social</a>
                </td>
            </tr>
        </thead>
        <tbody>
            {{range $row := .socialData.Rows}}
            <tr>
                <td class="number">{{index $row 1}}</td>
                <td>{{index $row 0}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{ else }}
    <h3>
        <a href="{{ permalink `report/social-sources` .Profile .AnalyticsApi }}">No Social Sources</a>
    </h3>
    {{ end }}

    <p>
        You can look forward to your next report on {{.NextDate | highlight}}.
    </p>

    <h2>Please send feedback!</h2>
    <p>
        Reply to this email with comments, suggestions, requests, praise, or selfies.
    </p>

    <p class="footer">
        Looking for something different?
        <a href="http://www.briefmetrics.com/settings">Change subscription</a> &middot;
        <a href="http://www.briefmetrics.com/account/disconnect?token={{ .Token }}">Delete account</a>
    </p>
{{end}}
