{{define "content"}}
    <p>
        Your site had <span class="chartTop">{{ .TotalCurrent | itoa }} views so far this month</span>
        {{ if ge .TotalCurrent .TotalLastRelative }}
        , compared to last month's {{ .TotalLastRelative | itoa }} views at this time.
        You're on your way to beat <span class="chartBottom">last months's total of {{ .TotalLast | itoa }}</span>.
        {{ else }}
        , compared to <span class="chartBottom">last month's {{ .TotalLastRelative | itoa }} views</span> at this time.
        {{ end }}
    </p>

    <img src="{{ .SummaryChartUrl }}" />

    {{$startDate := .StartDate}}
    {{range $row := .summaryData.Rows}}
    <p style="margin-bottom: 2em;">
        This week, {{index $row 1 | comma | highlight}} unique people spent a combined {{index $row 2 | timeago | highlight}} on your sweet site.
    </p>
    {{end}}

    <table>
        <thead>
            <tr>
                <td>
                    Views
                </td>
                <td>
                    <a href="{{ permalink `report/content-pages` .Profile .AnalyticsApi }}">Pages</a>
                </td>
            </tr>
        </thead>
        <tbody>
            {{$baseUrl := .Profile.WebsiteUrl}}
            {{range $row := .pageData.Rows}}
            <tr>
                <td class="number">{{index $row 1}}</td>
                <td><a href="{{$baseUrl}}{{index $row 0}}">{{index $row 0}}</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <td>
                    Views
                </td>
                <td>
                    <a href="{{ permalink `report/trafficsources-referrals` .Profile .AnalyticsApi }}">Referrers</a>
                </td>
            </tr>
        </thead>
        <tbody>
            {{range $row := .referrerData.Rows}}
            <tr>
                <td class="number">{{index $row 1}}</td>
                <td>{{index $row 0 | linkify}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>


    <table>
        <thead>
            <tr>
                <td>
                    Views
                </td>
                <td>
                    <a href="{{ permalink `report/social-sources` .Profile .AnalyticsApi }}">Social</a>
                </td>
            </tr>
        </thead>
        <tbody>
            {{range $row := .socialData.Rows}}
            <tr>
                <td class="number">{{index $row 1}}</td>
                <td>{{index $row 0}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>

    <p>
        You can look forward to your next report on {{.NextDate | highlight}}.
    </p>

    <h2>Coming soon (aka. my shameless public TODO list)</h2>
    <ul>
        <li>Lots of styling.</li>
        <li>Remove anything with {facebook,google,twitter} and merge Organic Search results with Social.</li>
        <li>Subscribe to multiple sites</li>
        <li>Paid subscription</li>
        <li>Add a "What's new" section to each report</li>
        <li class="done">Chart comparing performance to last month.</li>
        <li class="done">"Next report: ..."</li>
        <li class="done">Handle errors and accounts with little-to-no data.</li>
    </ul>

    <h2>Please send feedback!</h2>
    <p>
        Reply to this email with comments, suggestions, requests, praise, or selfies.
    </p>

    <p class="footer">
        Looking for something different?
        <a href="http://www.briefmetrics.com/settings">Change subscription</a> &middot;
        <a href="http://www.briefmetrics.com/account/disconnect?token={{ .Token }}">Delete account</a>
    </p>
{{end}}
